<div id="<%= dom_id conversion_history %>" class="border-box border-4 p-4 m-4">
  <p class="my-5">
    <strong class="block font-medium mb-1">From:</strong>
    <%= conversion_history.from %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">To:</strong>
    <%= conversion_history.to %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Amount:</strong>
    <%= conversion_history.amount %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Result:</strong>
    <%= conversion_history.result %>
  </p>
</div>
