<!DOCTYPE html>
<html>
  <head>
    <title>CurrencyConverter</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= action_cable_meta_tag %>
  </head>

  <body>
    <main class="container mx-auto mt-28 px-5">
      <div class="mx-auto md:w-2/3 w-full container">
        <%= render partial: 'conversion_histories/form', locals: {conversion_history: ConversionHistory.new} %>
      </div>
      <div class="container w-full">
        <%= yield %>
      </div>
    </main>
  </body>
</html>
